.learnCards {
	.wrapper {
		.cards {
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
			gap: 15px;
			.card {
				transition: all 0.4s ease;
				&:hover {
					transform: translate(-5px, -5px);
					.iconLink {
						color: white;
					}
					div {
						p {
							transition: all 0.4s ease;
						}
					}
				}
			}
		}
		.actions {
			button {
				&:hover {
					svg {
						transition: all 0.1s ease;
						transform: translate(3px, 0px);
					}
				}
			}
		}
	}
}
