.learnCards {
	.wrapper {
		.cards {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			gap: 15px;
			.card {
				transition: all 0.4s ease;
				&:hover {
					transform: translate(-5px, -5px);
					.iconLink {
						color: white;
					}
				}
			}
		}
		.actions {
			button {
				&:hover {
					svg {
						transition: all 0.1s ease;
						transform: translate(3px, 0px);
					}
				}
			}
		}
	}
}
// > Media
@media screen and (width <= 1105px) {
	.learnCards {
		.wrapper {
			.cards {
				.card {
					&:hover {
						transform: translate(0px, 0px);
					}
				}
			}
		}
	}
}
