#headerNav {
	grid-area: headerNav;
}

#navbar {
	grid-area: navbar;
	section {
		// Scroll-bar
		&::-webkit-scrollbar {
			background-color: #fff;
			width: 0px;
		}
	}
}

#main {
	grid-area: main;

	// Scroll-bar
	&::-webkit-scrollbar {
		background-color: #0d0f14;
		width: 0px;
	}
}

#dashboardWrapper {
	height: 100vh;
	display: grid;
	overflow: hidden;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"headerNav headerNav headerNav"
		"navbar main main"
		"navbar main main";
}
