#headerDash {
	grid-area: header;
	border-radius: 10px 10px 0px 0px;
}
#navbarDash {
	grid-area: nav;
	border-radius: 0px 0px 0px 10px;
	section {
		// Scroll-bar
		&::-webkit-scrollbar {
			background-color: #0d0f14;
			width: 0px;
		}
	}
}

#mainDash {
	border-radius: 0px 0px 10px 0px;
	grid-area: main;
	// Scroll-bar
	&::-webkit-scrollbar {
		background-color: #0d0f14;
		width: 0px;
	}
}
#PageWrapperDash {
	display: grid;
	grid-template-columns: 1fr 270px;
	z-index: 20;
	position: relative;
	width: 100%;
	height: 100%;
}
#dashboardWrapperDash {
	height: 650px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header header header"
		"nav main main"
		"nav main main";
}
