#main {
	display: grid;
	grid-template-columns: 300px 1fr 230px;
}
@media screen and (width <= 1024px) {
	#main {
		grid-template-columns: 270px 1fr;
	}
}
@media screen and (width <= 768px) {
	#main {
		grid-template-columns: 1fr;
	}
}
